/* See mobile.css for when the page is smaller than 720px wide, and map.css for when it's not.*/

html, body { 
    height: 100%; margin: 0; padding: 0;
    font-family: Tahoma, serif;
}

#map-canvas {
    height: 100%; margin: 0; padding: 0;
    width: 100%;
    z-index: 0;
    position: absolute;
}

#searchUI {
    position: absolute;
    width: 30%;
    right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 300px;

}

#APIContents {
    z-index: 1;
}

#minimizeButton, #listButton {
    float: right;
}

.redditLink, .lighterBackground {
    background-color: rgba(255,255,255,0.25);
}


#search-bar {
    height: 30%;
    width: 100%;
    z-index: 1;
}

.translucentUI {
    background-color: rgba(128,128,128,0.25);
}

#legalese {
    font-family: Tahoma, serif;
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    
}

#legalese p {
    margin: 0px;
}

