html, body { 
    height: 100%; margin: 0; padding: 0;
    font-family: Tahoma, serif;
    font-size: 14px;
}
/*@media (min-width: 480 px) {*/
    #map-box {
        height: 70%;
        display: flex;
    }

    #map-canvas {
        height: 100%; margin: 0; padding: 0;
        width: 60%;


    }

    #APIContents {
    float: right;
    width: 40%;
    }

    #search-bar {
        height: 30%;

        width: 100%;
    }


#legalese {
    font-family: Tahoma, serif;
    font-size: 12px;
    position: relative;
}



/*
@media screen and (max-width: 480 px) {
    #map-canvas {
        height: 100%; margin: 0; padding: 0;
        width: 100%;
    }
}
*/