html, body { 
    height: 100%; margin: 0; padding: 0;
}

#map-canvas {
    height: 100%; margin: 0; padding: 0;
    width: 60%;
    float: left;

}

#search-bar {
    float: right;
    width: 40%;
}


p {
    font-family: Tahoma, serif;
    font-size: 16px;
}